#container{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid;
    border-color: red;
    width: 960px;
    height: 960px;
}

.horizontalDiv{
    display: flex;
    width: 100%;
}

.squareDiv{
   height: 100%;
    width: 100%;
    background: grey;
    opacity: 0;
    transition: opacity 2s ease 0.4s, transition 0.8s ease;
    transform: scale(1)
}

.squareDiv:hover{
    opacity: 1;
    transition: opacity 0.2s ease;
    transform: scale(1.04);
}